@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(./assets/font/Nunito-Regular.ttf) format(truetype);
}

svg {
  display: flex;
  align-self: center;
}

body {
  font-family: "Teko", sans-serif;
  background-color: black;
  height: 100%;
}

